@import url("https://use.typekit.net/icl6iyg.css");
@import url("https://use.typekit.net/icl6iyg.css");

@font-face {
    font-family: 'voga';
    src: url('./fonts/Voga-Medium.otf');
}


:root {
    --font-main: kepler-std, serif;
    --font-heading: 'voga';
    --font-new: ambroise-firmin-std, serif;

    --color-pink: #FF87CA;
    --color-dark-brown: #632626;
}